body {
    width: 55%;
    font-family: Calibri sans-serif;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    color: #1e6d94;
    background-color: #f6f8f8;
}

nav {
    margin-top: 10px;
}

nav > a {
    text-decoration: none;
    color: #1e6d94;
}

.index-container {
    display: table;
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
    margin-top: 20px;
}

.employee-container, .task-container {
    display: table-cell;
    border: #91c8e4 solid 1px;
}

.employee-container {
    width: 40%;
}

.task-container {
    width: 60%;
}

.container {
    border: #91c8e4 solid 1px;
    margin-top: 20px;
}

.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #91c8e4 solid 1px;
    margin: 15px 10px;
    padding: 10px;
}

.info-text {
    width: 90%;
}

.info-update {
    text-align: right;
    margin-right: 5px;
}

.info-update .edit a {
    color: #1e6d94;
}

.form-container {
    width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #1e6d94;
    background-color: #91c8e4;
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 250px;
    text-align: right;
    margin-right: 5px;
}

#firstName, #lastName {
    width: 244px;
    height: 25px;
    border: #1e6d94 solid 1px;
}

select {
    width: 250px;
    height: 25px;
}

select, textarea {
    border: #1e6d94 solid 1px;
    border-radius: 2px;
}

.radio-buttons {
    display: inline;
    flex-wrap: wrap;
}

.radio-group {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    max-width: 35px;
}

input[type="radio"]::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    border: #1e6d94 solid 1px;
    border-radius: 50%;
}

button {
    background-color: #1e6d94;
    border: none;
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 90px;
    cursor: pointer;
    margin-bottom: 10px;
}

.two-button {
    margin-top: 25px;
    margin-left: 330px;
}

.one-button {
    margin-top: 25px;
    margin-left: 420px;
}

button[name="deleteButton"] {
    background-color: #dc0376;
}

.task-state {
    display: inline-block;
}

button.open, button.pending, button.closed {
    height: 25px;
    width: 70px;
    margin-right: 0;
    margin-top: 10px;
    cursor: none;
}

button.open {
    background-color: #91c8e4;
}

button.pending {
    background-color: #dc0376;
}

button.closed {
    background-color: #2bc785;
}

.empty, .filled {
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 5px;
    border: #1e6d94 solid 1px;
    border-radius: 2px;
    background-color: white;
}

.filled {
    background-color: #91c8e4;
}

.message-success {
    color: #1e6d94;
    background-color: #2bc785;
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
}

.message-error {
    color: #640219;
    background-color: #dc0376;
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
}

.footer {
    margin-top: 20px;
    color: #1e6d94;
}
