<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Nimekiri</title>
</head>
<body>
<table border="0" , width="100%">
    <tr>
        <td></td>
        <td width="1000px">
            <table border="0" width="100%">
                <tr>
                    <td>
                        <table border="0" width="100%">
                            <tr>
                                <td><a href="front.html"> Avaleht</a> | <a href="list.html"> Nimekiri</a></td>
                                <td width="8%" align="right"><a href="">Seaded</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <table border="1" width="100%">
                            <tr align="center">
                                <th>Eesnimi</th>
                                <th>Perekonnanimi</th>
                                <th>Telefon</th>
                            </tr>
                            <tr>
                                <td><a href="details.html">Jaak</a></td>
                                <td>Tamm</td>
                                <td>123 45678</td>
                            </tr>
                            <tr>
                                <td>Mari</td>
                                <td>Kask</td>
                                <td>876 54321</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <table border="0" width="100%">
                            <tr>
                                <td width="33%">Ehitajate tee 5, 19086 Tallinn</td>
                                <td width="33%" align="center">620 2002</td>
                                <td width="33%" align="right">info@taltech.ee</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>